.bg-my {
    background-color: black;
}
.navbar-brand {
    border-right: 1px solid white;
    padding-right: 1rem;
}

a {
    color: #4c5054;
}

a:hover {
    color: #000000;
}


.banner {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.25rem;
    position: absolute;
    bottom: 0;
    margin: 5px;
    background-color: #ffffff4f;
    text-align: center;
}

.card {
    border-radius: 0;
}

.card-footer:last-child {
    border-radius: 0;
}

.text-bottun {
    color: #28a745;
    background-color: #000000;
    text-transform: uppercase;
}

.text-bottun:hover {
    color: #FFFFFF;
    background-color: #28a745;
}

.btn-dark {
    background-color: #000000;
}
.btn {
    border-radius: 0;
}

h1 {
    font-size: 1.5rem;
}

h5 {
    margin-bottom: 0;
}

.price-sale {
    color: #d84523;
    font-size: 90%;
    text-decoration: line-through;
}